#users {
  display: flex;
  z-index: 0;
  .container {
    flex: 1;
    padding: 5%;

    & > div > button {
      margin-bottom: 25px;
    }
  }
}

.containerUserForm {
    display: flex;
    align-items: center; 
    width: 100%;
    justify-content: space-around; 
    & > div {
      background-color: var(--gray-background);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40%;
      padding: 0px 5% 5% 5%;
      border-radius: 15px;
      -webkit-box-shadow: 6px 9px 14px 10px rgba(0, 0, 0, 0.19);
      box-shadow: 6px 9px 14px 10px rgba(0, 0, 0, 0.19);

      & > div {
        display: flex;
        width: 100%;
        justify-content: space-around;
      }
    }
    
    .selectRole {
      height: 40px;
      display: flex;
      justify-content: space-around;
      padding-bottom: 10px;
      align-items: center;
    }
  }


